*.DS_Store
*.ipynb_checkpoints*
__pycache__/
*$py.class

# Add more files & directories as needed

# Python cache and compiled files
*.pyc
*.pyo
*.pyd


# folder
zipcodes/
data/

# Shapefile
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.xml

# Temporary files
*.tmp
*.bak

# CSV files
*.csv

# JSON files
*.json

# Parquet files
*.parquet

# Database files
*.db

# Unallowed image files
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
